.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
}

.advantage__list {
    display: flex;
    gap: 30px;
}


.advantage__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.advantage__describ {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}