.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list {
    display: flex;
    gap: var(--indent);
    justify-content: center;
}

.clients__item {
    width: 170px;
    height: 92px;
}

.clients__logo {
    fill: var(--icons);
    transition: fill var(--trns);


   .clients__link:hover & {
        border-color: var(--accent-text-color);
        fill: var(--accent-text-color);

}
}



.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icons);
    border-radius: 5px;
    color: currentColor;

    width: 170px;
    height: 92px;

    transition: border-color var(--trns), fill var(--trns);

    &:focus,
    &:hover {
    border-color: var(--accent-text-color);
    }
}