.footer__group {
    display: flex;
    gap: 70px;

    align-items: baseline;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-bg-color);
}

.footer__container {
    flex-basis: 181px;
}

.footer__logo {
    padding-bottom: 20px;
}

.footer__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: #ffffff;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: white;

    background-color: rgba(68, 69, 78, 1);
    border-radius: 50px;

    transition: background-color var(--trns);

    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
    }
}


.footer__icons {
    fill: currentColor;
    transition: fill var(--trns);
}

.footer__form {
    flex-direction: column;
    display: flex;

}

.footer-btn {
    @extend %main-btn;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 216px;
    
    box-shadow: none;
}

.footer-btn-icon {
    fill: white;

    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: var(--trns);
}
}

/* ===FOOTER ADDRESS=== */
.address {
    text-decoration: none;
    list-style: none;
}

.address__map {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 9px;
}

.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--address-link-color);
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address a {
    transition: color var(--trns);

    &:hover,
    &:focus {
    color: var(--accent-text-color);
    }
}


/* ===FOOTER FORM=== */

.subscribtion {
    display: flex;
    gap: 12px;
    width: 570px;
}



.subscribtion__field {

    width: 358px;
    height: 50px;

    padding-left: 15px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: unset;
    color: var(--secondary-bg-color);
    transition: var(--trns);

    &:hover,
    &:focus {
    border-color: var(--secondary-bg-color);
    
    }

}

