.offers-container {
    padding-bottom: 95px;
}

.offers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}


.offers__item {
    display: flex;
    position: relative;

}


.offers__disc {
    display: flex;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    text-align: center;
    justify-content: center;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
 
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
}