.card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    margin-left: 0;
}

.card-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}