.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--trns), visibility var(--trns);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 528px;
    min-height: 581px;

    padding: 40px;
    background-color: var(--bg-color);

    border-radius: 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
}


.modal-btn {
    display: flex;
    height: 30px;
    width: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--icons);
    border-radius: 50%;
    transition: var(--trns);
}

.modal-btn:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--accent-text-color);

}

.modal__close {
    fill: currentColor
}


.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    margin-bottom: 12px;

}

.modal__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;


}

.modal__label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: #757575;

}

.modal__group {
    position: relative;
    margin-bottom: 10px;
}

.modal__item {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline var(--trns);
}

.modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    fill: rgba(33, 33, 33, 1);

    transition: fill var(--trns);
}

.modal__item:focus,
.modal__item:hover {
    outline: 1px solid var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    /* transition: outline var(--trns); */

}

.modal__item:focus+.modal__icon,
.modal__item:hover+.modal__icon {
    fill: var(--accent-text-color);

}


.modal__textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 16px 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline var(--trns);
}


.modal__textarea:focus,
.modal__textarea:hover {
    outline: 1px solid var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    /* transition: outline var(--trns); */
}


.modal__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}

.modal__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-top: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0px;
    transition: background-size var(--trns), background-color var(--trns),
        border-color var(--trns), box-shadow var(--trns);
}



.modal__checkbox:checked {
    background-size: 11px 8px;
    background-color: var(--accent-text-color);
    border-color: transparent;

}

.modal__checkbox:focus,
.modal__checkbox:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;

}

.modal__link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-text-color);
}

.modal-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-btn-submit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: outline var(--trns);
}