.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: #fff;

  color: var(--icons);

  transition: color var(--trns), background-color var(--trns);

  &:hover,
  &:focus {
    color: white;
    background-color: var(--accent-text-color);
  }
}

.socials__link--opacity-10 {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icons {
  fill: currentColor;
  transition: fill var(--trns);
}
