body {
    margin: 0;

    font-family: "Roboto", sans-serif;

    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.container {
    width: 1200px;

    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;

    /* outline:2px solid tomato; */
}