section {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}